.pattern{
    background-color: #5900ff;
    height: 100px;
    background-image: url(../img/img/pattern.png);
    background-size: 400px;
    
}
.logo{
    
    background-image: url(../img/img/logo.svg);
    height: 150px;
    width: 150px;
    background-position: left;
    background-repeat: no-repeat;  
}
.thebooleaner{
    color: #23a2b3;
}
.data{
    color: #1a1919;
}
.ev-yellow{
    background-color: #ffff00;
}
.tabella{
    width: 600px;
}
.blu{
    background-color: #4393df;
    color: white;
    height: 20px;
}
.celeste{
    background-color: #23a2b3;
}
.bianco{
    background-color: white;
}